
.idea/8INF911_project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/DatasetBuilder.cpython-310.pyc
memes.csv
.idea/misc.xml
meme_text.txt
*.pyc
.idea/inspectionProfiles/Project_Default.xml
